.footerLink {
    display: block;
    font-size: 14px;
    color: #101010;
    text-decoration: none;
    margin-bottom: 8px;
}

.policyLink {
    display: block;
    font-size: 14px;
    color: #848484;
    text-decoration: none;
}
